<h4>Lista studentów</h4>

<div *ngIf="isStudentRemoved" class="alert alert-danger" role="alert">
  Usunięto studenta: {{ removedStudentName }}
</div>

<table class="table table-hover">
  <thead>
    <tr style="text-align:center">
      <th>Lp</th>
      <th>Imię i nazwisko</th>
      <th>Adres email</th>
      <th>Operacje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" style="text-align: center;"
      [ngClass]="{'table-success': student.id == 9, 'table-danger':student.id < 3}">
      <td>{{ student.id }}</td>
      <td>{{ student.name | remove_title }}</td>
      <td>
        <a *ngIf="student.id > 4">{{ student.email | lowercase}}</a>
      </td>
      <td>
        <a [routerLink]="'/edit-student/'+student.id" class="btn btn-outline-warning button-margin">Edytuj</a>
        <button (click)="delete(student)" class="btn btn-outline-danger button-margin">Usuń</button>
        <button (click)="goToDetails(student.id)" class="btn btn-outline-info">Szczegóły</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngFor="let student of students">
  <p>{{student.name}}</p>
</div>
